.login-container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-top: 10px;
}

.mat-mdc-form-field{
    width: 100%;
    margin: 5px
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
}